[submodule "third_party/nccl"]
	path = third_party/nccl
	url = https://github.com/NVIDIA/nccl.git
	branch = v2.18
[submodule "third_party/nccl-tests"]
	path = third_party/nccl-tests
	url = https://github.com/NVIDIA/nccl-tests.git
