# host-specific configuration
/common.mk

# cache
**/__pycache__

# results
results*/

# scripts
scripts/

# intermediate file
*.o

# executable file
csrc/all2all_test

# third-party lib
csrc/jsoncpp.cpp
csrc/json/

# benchmarks
benchmarks/

# performance_data
performance_data/